TACHI_CLIENT_ID=
TACHI_CLIENT_SECRET=
TACHI_REDIRECT_URI=https://YOURDOMAIN/scrobbler/callback/tachi
TACHI_API_BASE_URL=https://kamai.tachi.ac/api/v1
TACHI_WEB_BASE_URL=https://kamai.tachi.ac

LASTFM_API_KEY=
LASTFM_API_SECRET=
LASTFM_CALLBACK_URL=https://YOURDOMAIN/scrobbler/callback/lastfm

SYNC_INTERVAL_MS=3600000
SCROBBLER_STORAGE_FILE=.scrobbler-users.json
REDIRECT_FINAL_URL=https://YOURDOMAIN